body{
    font-family: 'Poppins', sans-serif;
}
#header{
    display: flex;
    margin-bottom: 5%;
}
.header-part{
    width: 70%;
    padding-left: 5%;
}
.text-color{
    color: blue;
}
.text-colours{
    color: rgb(0, 183, 255);
}
.link-color{
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(blue, cyan);
    border-radius: 10px;
    color: white;
}
h1{
    font-size: 50px;
}
.header-part img{
    width: 100%;
}
#dream-area{
    display: flex;
    background-image: url(images/images/shapes/Frame\ 57.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    text-justify: auto;
    t
}
.dream-area-part{
    width: 50%;
    padding-right: 5%;
}
.dream-area-part img{
   width: 74%;
}
#My-Recipies-area{
    text-align: center;
}
#recipies{
    background-image: url(images/images/shapes/Untitled-);
    text-align: center;}
    footer{
        text-align: center;
    }